html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 320px;
    padding: 8px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
}

.btn {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
    padding: 5px;
}

.exit-btn {
    float: right;
}

.chat {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid black;
    min-height: 435px;
    margin-bottom: 8px;
    padding: 8px 8px 0;
}

.message {
    display: inline-block;
    text-align: start;
    padding: 8px; 
    margin-bottom: 8px;
    
}

.income-msg {
    align-self: flex-start;
    background-color: #E5E5E5;
}

.outcome-msg {
    align-self: flex-end;
    background-color: #F6F6F6;
}

.text {
    display: block;  
}

.time {
    display: block;
    font-style: italic;
    font-size: 12px;
    float: right;
}

.input-enter-msg {
    width: 273px;
    height: 32px;
    line-height: 1,5;
    font-size: 16px;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

}

.input-enter-msg::placeholder {
  color: #212529;
  opacity: 0.4;
}

.input-enter-msg:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0.1rem 0.1rem rgba(158, 158, 158, 0.25);
}

.enter-btn {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: white;
    margin-left: 8px;
    
}


.modal-setting, .setting-content {
    opacity: 0;
    z-index: -1; 
}

.modal-setting.hidden .setting-content,
 .modal-setting.hidden {
    opacity: 1;
    z-index: 100; 
}

 .modal-setting.hidden {
    background: white;
 }

.modal-setting.open .setting-content {
    transform: translateY(-100px);
}

.modal-setting.open .setting-content,
 .modal-setting.open {
    opacity: 1;
    z-index: 100; 
}

 .modal-setting.open {
    background: #535353;
 }

.modal-setting.open .setting-content {
    transform: translateY(100px);
}

.modal-setting {
    position: absolute;
    background: white;
    transition: background .2s ease-in;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.setting-content {
    position: relative;
    width: 257px;
    padding: 16px;
    min-height: 303px;
    background-color: #fff;
    top: 6px;
    left: 24px;
    transition: transform .2s ease-in;
}

.exit-btn {
    text-decoration: none;
    color: #535353;
    font-size: 16px;
}

.name-txt {
    margin-bottom: 4px;
    margin-top: 16px;
    font-size: 18px;
}


form {
    display: flex;
    justify-content: space-between;
}

